/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* body{
	background-color: #7E7F7C;
} */

.background {
	padding-top: 114px;
	padding-bottom: 110px;
	background: url(../img/Rectangle_1.png) left center / cover no-repeat;
	margin-bottom: 50px;
}

.container {
	max-width: 1392px;
	margin: 0 auto;
}

.content-block {
	max-width: 650px;
	font-family: Lato, sans-serif;
	color: #2F302C;
	margin-left: auto;
}

.content-text {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 20px;
}

.main-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 96px;
	font-weight: 700;
	line-height: 1.04;
}

.main-title span{
	font-weight: 800;
}

.main-title + .decor-line {
	width: 100%;
	height: 1px;
	max-width: 308px;
	margin-bottom: 36px;
	background-color: #2f302c;
}

.content-block p {
	font-weight: 500;
	line-height: 1.25;
	color: #7E7F7C;
}

/* block-list */
.container-block {
	max-width: 350px;
	background: #FFFFFF;
	margin: 40px auto;
}

.list-items {
	border: 2px solid #252B42;
}

.item {
	background: url(../img/check.svg) 0 0 no-repeat;
	font-family: 'Montserrat', sans-serif;
	color: #252B42
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
	min-height: 32px;
	padding-left: 42px;
	line-height: 1.5;
}

.item-grey_check {
	background: url(../img/Check_grey.svg) 0 0 no-repeat;
}